:root {
  /* --max-width: 1100px; */ /* #191919 */
  --border-radius: 8px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-primary: #111111;
  --background-secondary: #1b1b1b;
  --background-tertiary: #151515;
  --background-quartiary: #ffffff;
  --background-quintiary: #232323;

  --font-primary: #f7f7f8;
  --font-secondary: #635c5c;
  --font-tertiary: #1d1a1a;
  --hover-primary: #2c2b2b;
  --highlight-primary: #8390fa;
  --highlight-secondary: #73eedc;
  --hightlight-tertiary: #f2ff49;
  --border-primary: #2e2c2c;
  --border-hover-primary: #4244e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-size: 12px;
  font-weight: 300;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-primary);
  background-color: var(--background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
